<h1><%= @registered_application.name %></h1>
<h4><%= @registered_application.url %></h4>
<h4><%#= @events.count %> Events:</h4>
<h4><% @events.each do |name, array| %>
  <%= name %>
  <%= array.count%><br/>
  <%#= .each {|event, array| event array.count } %>

  <%#= event array.count %>
  <% end %>
</h4>
<%= pie_chart @registered_application.events.group(:name).count %>
<%= line_chart @registered_application.events.group_by_day(:created_at).count %>
<div>
     <%= link_to "Edit Application", edit_registered_application_path(@registered_application), class: 'btn btn-success' %>
     <%= link_to "Delete Application", registered_application_path(@registered_application), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this application?'} %>
</div>
